/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
@font-face {
  font-family: "lato-regular";
  src: url(/assets/fonts/Lato/Lato-Regular-6f6940be0835c3ddec9199e5fc42be4cbc61ebcfd58c623fdf719366253f1780.ttf);
}
@font-face {
  font-family: "lato-light";
  src: url(/assets/fonts/Lato/Lato-Light-e9d59afb6d9cb9cf6e8d8159d4639d5b577e29efc64a15182f228659cfc1e818.ttf);
}
/* line 30, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 26, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 27, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 28, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
html, body, header, div, h1, h2, h3, h4, form, ul, li, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: block;
  background-color: inherit;
  font-size: 1rem;
  font-family: lato-regular, sans-serif;
  -webkit-appearance: none;
}

/* line 42, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 39, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 41, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 43, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
::-webkit-input-placeholder {
  font-family: lato-light;
}

/* line 47, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 44, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 47, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 50, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
:-moz-input-placeholder {
  font-family: lato-light;
}

/* line 52, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 49, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 53, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 57, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
::-moz-input-placeholder {
  font-family: lato-light;
}

/* line 57, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 54, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 59, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 64, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
:-ms-input-placeholder {
  font-family: lato-light;
}

/* line 69, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
body {
  background: #f9f9f9;
}

/* line 77, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.group {
  content: "";
  display: block;
  clear: both;
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* line 58, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 64, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 85, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

/* line 68, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 75, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 97, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 75, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 83, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 106, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.close::after {
  // content: "\D7";
}

/* line 85, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 90, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 115, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */

.modal .circle-button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  text-align: center;
  float: right;
  position: relative;
  margin-right: 3rem;
}

.modal .circle-button:hover {
  background: #ccc;
}

.modal .close {
  background: asset-url('close_icon.png');
  width: 3rem;
  height: 3rem;
  border: none;
  background-size: contain;
  position: absolute;
  top: 0;
  left: .4rem;
}

.modal .circle-button p {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
}

/* line 91, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 96, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 122, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.channel-modal {
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 1%;
  justify-content: center;
}

.modal .modal-header {
  width: 100%;
  position: fixed;
  padding-top: 1rem;
}

.modal .modal-header h2 {
  text-align: center;
}

.channel-modal .channel-block {
  margin-top: 5rem;
}

/* line 61, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 100, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 106, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 133, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
h2 {
  font-size: xx-large;
}

/* line 137, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.fixed {
  position: fixed;
  width: 100%;
  padding: 15px;
  background: #fff;
  display: block;
  border-bottom: 1px solid #ccc;
}

/* line 146, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.header .logo {
  float: left;
}

/* line 150, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.header button {
  float: right;
  padding: 10px 15px;
  background: #6cc79f;
  border-radius: .25rem;
  color: #fff;
}

/* line 65, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 105, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 112, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 161, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 71, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 112, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 120, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 170, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.centered {
  display: inline-block;
  flex-shrink: 1;
  max-width: 600px;
  min-width: 200px;
  width: 45%;
  background: #fff;
  color: #555459;
  border: 0.1px solid #e8e8e8;
  padding: 20px 40px 50px;
  margin: 40px;
  margin-top: 120px;
  text-align: center;
}

/* line 185, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.centered h2 {
  padding-bottom: 10px;
}

/* line 189, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.auth-page span {
  padding-bottom: 10px;
}

/* line 93, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 133, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 143, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 205, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.auth-form {
  display: block;
  width: 1000px;
  height: 250px;
  border: 0.1px solid gray;
  justify-content: center;
}

/* line 101, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 142, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 153, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 216, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.auth-page input {
  font-size: 1.25rem;
  display: inline-block;
  width: 80%;
  height: auto;
  border: 1px gray solid;
  border-color: #c5c5c5;
  margin: 5px;
  padding: .75rem;
  border-radius: .25rem;
}

/* line 113, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 155, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 167, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 231, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.auth-page input[type="submit"] {
  background-color: #2ab27b;
  color: #fff;
}

/*LEFT NAV*/
/* line 120, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 161, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 174, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 239, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
div.left-nav {
  display: block;
  background-color: #4d394b;
  width: 220px;
  height: 100vh;
  float: left;
}

/* line 128, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 170, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 184, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 250, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.left-header {
  position: relative;
  height: 60px;
  padding: 10px 15px 30px 15px;
}

/* line 133, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 177, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 192, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 259, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.left-header:hover {
  background-color: #3e313c;
}

/* line 181, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 197, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 265, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.left-header:hover .user {
  color: white;
}

/* line 137, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 186, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 203, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 272, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.dropdown {
  position: absolute;
  top: 40px;
  left: 10px;
  max-height: 100px;
  height: auto;
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

/* line 148, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 199, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 217, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 287, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.dropdown li {
  max-height: 100px;
  width: 250px;
  height: 25%;
  background-color: #ffffff;
  padding-left: 10px;
  margin-left: 15px;
  border-radius: 5px;
}

/* line 209, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 228, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 299, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.dropdown li:hover {
  background-color: #3AA3E3;
}

/* line 154, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 214, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 235, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 306, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content {
  padding-top: 10px;
}

/* line 239, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 311, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content li, .panel-content span {
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 170, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 249, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 247, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 320, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content .title {
  color: #ab9ba9;
}

/* line 174, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 254, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 253, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 327, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content .title:hover {
  color: white;
}

/* line 220, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 263, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 335, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content .channel-index-item {
  color: #ab9ba9;
  display: block;
  float: left;
  width: 90%;
  border-radius: 0 .25rem .25rem 0;
  height: 1.5rem;
}

.panel-content .channel-index-item button {
  display: none;
  float: right;
  margin-right: .25rem;
  background: asset-url('remove_icon.png');
  background-size: contain;
  height: 1rem;
  width: 1rem;
}


/* line 161, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 213, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 230, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 275, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 348, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content .channel-index-item:before {
  content: "# ";
}

/* line 233, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 280, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 354, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content .unselected.channel-index-item:hover {
  background-color: #3E313C;
}

.panel-content .channel-index-item:hover button {
  display: block;
  // background: asset-url('remove_icon.png');
}

// .panel-content .selected.channel-index-item:hover button {
//   display: block;
//   background: asset-url('remove_icon.png');
// }

/* line 257, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 359, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.panel-content .selected {
  background-color: #4C9689;
  color: white;
}

/* line 165, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 238, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 287, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 367, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.left-nav .team {
  color: white;
  font-weight: bolder;
}

/* line 243, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 293, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
/* line 374, /Users/samparl/Projects/HackChat/app/assets/stylesheets/application.scss */
.left-nav .user {
  color: #ab9ba9;
  font-weight: bold;
}
