/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Italic.ttf');
  font-style: italic;
}

html, body, header, div, h1, h2, h3, h4, form, ul, li, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: #555459;
  display: block;
  background-color: inherit;
  font-size: 1rem;
  font-family: lato-regular, sans-serif;
  -webkit-appearance: none;
}

input:focus, textarea:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

:-moz-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

::-moz-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

:-ms-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

body {
  background: #f9f9f9;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: .95rem;
  color: #9e9ea6;
  font-weight: lighter;
}

.group {
  content: "";
  display: block;
  clear: both;
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;

  .modal-header {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    h2 {
      margin-left: auto;
      margin-right: auto;
    }

    .circle-button {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      text-align: center;
      // position: relative;
      display: flex;
      flex-direction: column;
      margin-right: 3rem;
      margin-left: auto;

      .icon {
        background: asset-url('close_icon.png');
        width: 2rem;
        height: 2rem;
        border: none;
        background-size: contain;
        padding-top: 40%;
        margin-top: 15%;
        margin-left: auto;
        margin-right: auto;
        left: .4rem;
      }
    }
  }

  .circle-button:hover {
    background: #ccc;
  }

}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.channel-modal {
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 1%;
  justify-content: center;

  .channel-block {
    margin-top: 1rem;
    width: 80%;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;

    .channel-index-item {
      padding: .5rem;
      display: flex;
      flex-direction: column;
      border: 1px solid transparent;
      border-top: 1px solid #e2e2e2;

      .row {
        display: flex;
        flex-direction: row;

        .index-title:before {
        }

        .title {
          flex-grow: 1;
        }

        .channel-users-icon {
          display: flex;
          flex-direction: row;

          img {
            height: 1rem;
            width: 1rem;
          }
        }
      }
    }
    .channel-index-item:hover {
      background-color: rgb(237, 247, 253);
      border: 1px solid rgb(211, 236, 250);
      border-radius: .25rem;
    }

  }
}


.fixed {
  position: fixed;
  width: 100%;
  padding: 15px;
  background: #fff;
  display: block;
  border-bottom: 1px solid #ccc;
}

.header {

  .logo {
    float: left;
  }

}


.team-auth {
  display: flex;
  flex-direction: column;
}

.team-auth-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding: auto;
}

.team-auth-row {
  height: 2rem;
  margin: .75rem auto;
}

.team-auth-title {
  font-size: 2rem;
  font-weight: 700;
}

.team-auth-header {
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;

  button {
    float: right;
    padding: 10px 15px;
    background: #6cc79f;
    border-radius: .25rem;
    color: #fff;
  }
}

.hack {
  font-weight: 700;
  font-size: 2rem;
  flex: 1;
}

.enter-team {
  display: flex;;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  min-width: 8rem;
  height: 18rem;
  background-color: #fff;
  border: 0.1px solid #c3c3c3;
  border-bottom: 2px solid #c3c3c3;
  border-radius: .25rem;
  padding-top: 2rem;
  margin-top: 7rem;
  overflow-y: scroll;
}

.team-input {
  display: inline-block;
  text-align: right;
  height: 3rem;
  width: 10rem;
  line-height: 3rem;
  padding-right: 1rem;
  border: 1px solid #c3c3c3;
  border-radius: .25rem;
}

.enter-team input[type="submit"]{
  width: 15rem;
  background-color: #3AA3e3;
  border-radius: .25rem;
  height: 3rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.team-input:focus, .team-input:hover {
  border: 1.5px solid #3AA3e3;
}


.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    padding-bottom: 10px;
  }

  input {
    font-size: 1.25rem;
    display: inline-block;
    width: 80%;
    height: auto;
    border: 1px gray solid;
    border-color: #c5c5c5;
    margin: 5px;
    padding: .75rem;
    border-radius: .25rem;
  }

  input[type="submit"] {
    background-color: #2ab27b;
    color: #fff;
  }
  // NOT SURE HOW NECESSARY THIS IS
  .auth-form {
    display: block;
    width: 1000px;
    height: 250px;
    border: 0.1px solid gray;
    justify-content: center;
  }
}

// WHERE ARE THESE BEING CALLED?
.centered {
  display: inline-block;
  flex-shrink: 1;
  max-width: 600px;
  min-width: 200px;
  width: 45%;
  background: #fff;
  color: #555459;
  border: 0.1px solid #e8e8e8;
  padding: 20px 40px 50px;
  margin: 40px;
  margin-top: 120px;
  text-align: center;

  h2 {
    padding-bottom: 10px;
  }
}

// MAIN APPLICATION

.main-screen {
  display: flex;

  .left-nav {
    display: block;
    background-color: #4d394b;
    width: 14rem;
    height: 100vh;
    flex-basis: 14rem;
    flex-grow: 0;
    flex-shrink: 0;

    .left-header {
      position: relative;
      height: 60px;
      padding: 10px 15px 30px 15px;

      .dropdown {
        position: absolute;
        top: 3.5rem;
        left: .5rem;
        max-height: 100px;
        height: auto;
        width: 17rem;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        background-color: #ffffff;
        border: 1px solid #c5c5c5;
        border-radius: .2rem;
        z-index: 10;

        .content {
          padding: 1rem;

          .section {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: .25rem;
            padding: .25rem;

            img {
              width: 2.5rem;
              height: 2.5rem;
              margin-right: .5rem;
              border-radius: .25rem;
            }

            .info {
              display: flex;
              flex-direction: column;
            }
          }
        }

        li {
          padding: .1rem .5rem;
          border-radius: .2rem;
        }

        li:hover {
          background-color: #3AA3E3;
        }
      }
    }

    .team {
      color: white;
      font-weight: bolder;
      font-size: 1.2rem;
    }

    .user {
      color: #ab9ba9;
      font-weight: bold;
      font-size: .8rem;
    }

    .left-header:hover {
      background-color: #3e313c;

      .user {
        color: white;
      }
    }
  }
}

// WHAT IS THIS?
.channel-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem
}

.panel-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  li, span {
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .title {
    color: #ab9ba9;
    width: 75%;
    font-size: .8rem;
  }

  .title:hover {
    color: white;
  }

  ul {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .channel-index-item {
    color: #ab9ba9;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    border-radius: 0 .25rem .25rem 0;
    height: 1.5rem;
    font-size: .95rem;

    .row {
      display: flex;
      flex-direction: row;
      width: 100%;
      color: inherit;
      margin-left: .25rem;
    }

    button {
      display: none;
      margin-right: .25rem;
      background: asset-url('remove_icon_highlighted.png');
      background-size: contain;
      height: 1rem;
      width: 1rem;
    }
  }

  .selected {
    background-color: #4C9689;
    color: white;
  }


  .unselected.channel-index-item:hover {
    background-color: #3E313C;
  }

  .channel-index-item:hover button {
    display: block;
  }
}

.index-title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  color: inherit;
}

.channel-index-item .index-title:before {
  content: "#";
  margin-right: .25rem
}

.content-pane {
  height: 100vh;
  width: 100%;
  min-width: 440px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;

  .content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4.5rem;
    width: 100%;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ccc;
  }

  .content-footer {
    height: 5rem;
    width: 100%;

    .message-input {
      border: 2px solid #bbbdbf;
      height: 2.5rem;
      width: 95%;
      border-radius: .4rem;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .messages-display {
    height: 100%;
    overflow-y: scroll;

    .message {
      padding: .25rem 1.5rem;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 1.8rem;
        width: auto;
        margin-right: .5rem;
      }

      .message-content {
        align-items: center;

        .message-data {
          display: flex;
          flex-direction: row;
          align-items: baseline;

          .message-author {
            font-weight: bold;
            margin-right: .5rem;
          }

          .message-date {
            font-family: Lato-Regular;
            font-style: italic;
            font-size: .8rem
          }
        }

        .message-body {

        }
      }
    }

    .message:hover {
      background-color: rgb(245,245,245);
    }
  }
}
