/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */



@font-face {
  font-family: "lato-regular";
  src: url('fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: "lato-light";
  src: url('fonts/Lato/Lato-Light.ttf');
}

html, body, header, div, h1, h2, h3, h4, form, ul, li, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing:border-box;
  color: inherit;
  display: block;
  background-color: inherit;
  font-size: medium;
  font-family: lato-regular, sans-serif;
}

::-webkit-input-placeholder {
  font-family: lato-light
}


:-moz-input-placeholder {
  font-family: lato-light

}

::-moz-input-placeholder {
  font-family: lato-light

}

:-ms-input-placeholder {
  font-family: lato-light
}

h2 {
  font-size: xx-large;
}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-page article {
  display: inline-block;
  flex-shrink: 1 width: 700px;
  /* height: 300px; */
  max-width: 500px;
  min-width: 200px;
  width: 35%;
  border: 0.1px solid #e8e8e8;
  padding: 20px 40px 50px;
  margin: 40px;
  text-align: center;
}

.auth-page button {
  border: none;
  background: inherit;
}

.auth-page form {
}

.auth-form {
  display: block;
  width: 1000px;
  height: 250px;
  border: 0.1px solid gray;
  justify-content: center;
}

.auth-page input {
  font-size: 1.25rem;
  display: inline-block;
  width: 80%;
  height: auto;
  border: 1px gray solid;
  border-color: #c5c5c5;
  margin: 5px;
  padding: .75rem;
  border-radius: .25rem;
}

.auth-page input[type="submit"] {
  background-color: #2ab27b;
}

/*LEFT NAV*/


div.left-nav {
  display: block;
  background-color: #4d394b;
  width: 300px;
  height: 100vh;
  float: left;
}

.left-header {
  position: relative;
  height: 60px;
}

.left-header:hover {
  background-color: #3e313c;
}

.dropdown {
  position: absolute;
  top: 40px;
  left: 10px;
  max-height: 100px;
  height: 25%;
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #c5c5c5;
}

button .logout {
  max-height: 100px;
  height: 25%;
  background-color: #ffffff
}

li.channel-index-item {
  color: #ab9ba9;
  display: block;
  float: left;
  width: 250px;
}

li.channel-index-item:before {
  content: "# "
}

.left-nav .team {
  color: white;
  font-weight: bolder;
}

.channel-panel h4 {
  color: #ab9ba9;
}

.channel-panel h3:hover {
  color: white;
}
