/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "lato-regular";
  src: asset-url('Lato/Lato-Italic.ttf');
  font-style: italic;
}

html, body, header, div, h1, h2, h3, h4, form, ul, li, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: block;
  background-color: inherit;
  font-size: 1rem;
  font-family: lato-regular, sans-serif;
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

:-moz-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

::-moz-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

:-ms-input-placeholder {
  font-family: Lato-Regular;
  font-weight: lighter;
}

body {
  background: #f9f9f9;
}

h2 {
  font-size: xx-large;
}

.group {
  content: "";
  display: block;
  clear: both;
}

.h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;

  .modal-header {
    width: 100%;
    position: fixed;
    padding-top: 1rem;

    h2 {
      text-align: center;
    }
  }

  .circle-button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    text-align: center;
    float: right;
    position: relative;
    margin-right: 3rem;

    p {
      position: absolute;
      top: 1.2rem;
      left: 1.2rem;
    }
  }

  .circle-button:hover {
    background: #ccc;
  }

  .close {
    background: asset-url('close_icon.png');
    width: 3rem;
    height: 3rem;
    border: none;
    background-size: contain;
    position: absolute;
    top: 0;
    left: .4rem;
  }
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.channel-modal {
  height: 100vh;
  width: 100vw;
  background-color: white;
  padding: 1%;
  justify-content: center;

  .channel-block {
    margin-top: 5rem;
  }
}


.fixed {
  position: fixed;
  width: 100%;
  padding: 15px;
  background: #fff;
  display: block;
  border-bottom: 1px solid #ccc;
}

.header {

  .logo {
    float: left;
  }

  button {
    float: right;
    padding: 10px 15px;
    background: #6cc79f;
    border-radius: .25rem;
    color: #fff;
  }

}

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    padding-bottom: 10px;
  }

  input {
    font-size: 1.25rem;
    display: inline-block;
    width: 80%;
    height: auto;
    border: 1px gray solid;
    border-color: #c5c5c5;
    margin: 5px;
    padding: .75rem;
    border-radius: .25rem;
  }

  input[type="submit"] {
    background-color: #2ab27b;
    color: #fff;
  }
  // NOT SURE HOW NECESSARY THIS IS
  .auth-form {
    display: block;
    width: 1000px;
    height: 250px;
    border: 0.1px solid gray;
    justify-content: center;
  }
}

// WHERE ARE THESE BEING CALLED?
.centered {
  display: inline-block;
  flex-shrink: 1;
  max-width: 600px;
  min-width: 200px;
  width: 45%;
  background: #fff;
  color: #555459;
  border: 0.1px solid #e8e8e8;
  padding: 20px 40px 50px;
  margin: 40px;
  margin-top: 120px;
  text-align: center;

  h2 {
    padding-bottom: 10px;
  }
}

// MAIN APPLICATION

.main-screen {
  display: flex;

  .left-nav {
    display: block;
    background-color: #4d394b;
    width: 14rem;
    height: 100vh;
    flex-basis: 14rem;
    flex-grow: 0;
    flex-shrink: 0;

    .left-header {
      position: relative;
      height: 60px;
      padding: 10px 15px 30px 15px;

      .dropdown {
        position: absolute;
        top: 3.5rem;
        left: .5rem;
        max-height: 100px;
        height: auto;
        width: 18rem;
        background-color: #ffffff;
        border: 1px solid #c5c5c5;
        border-radius: .2rem;
        z-index: 10;

        li {
          max-height: 100px;
          width: 250px;
          height: 25%;
          background-color: #ffffff;
          padding-left: 10px;
          margin-left: 15px;
          border-radius: inherit;
        }

        li:hover {
          background-color: #3AA3E3;
        }
      }
    }

    .team {
      color: white;
      font-weight: bolder;
      font-size: 1.2rem;
    }

    .user {
      color: #ab9ba9;
      font-weight: bold;
      font-size: .8rem;
    }

    .left-header:hover {
      background-color: #3e313c;

      .user {
        color: white;
      }
    }
  }
}

// WHAT IS THIS?
.channel-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem
}

.panel-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  li, span {
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .title {
    color: #ab9ba9;
    width: 75%;
    font-size: .8rem;
  }

  .title:hover {
    color: white;
  }

  .channel-index-item {
    color: #ab9ba9;
    display: block;
    float: left;
    width: 90%;
    border-radius: 0 .25rem .25rem 0;
    height: 1.5rem;
    font-size: .95rem;


    button {
      display: none;
      float: right;
      margin-right: .25rem;
      background: asset-url('remove_icon_highlighted.png');
      background-size: contain;
      height: 1rem;
      width: 1rem;
    }
  }

  .channel-index-item:before {
    content: "# ";
  }

  .unselected.channel-index-item:hover {
    background-color: #3E313C;
  }

  .channel-index-item:hover button {
    display: block;
  }

  .selected {
    background-color: #4C9689;
    color: white;
  }
}

.content-pane {
  height: 100vh;
  width: 100%;
  min-width: 440px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fff;

  .content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 4.5rem;
    width: 100%;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ccc;
  }

  .content-footer {
    height: 5rem;
    width: 100%;

    .message-input {
      border: 2px solid #bbbdbf;
      height: 2.5rem;
      width: 95%;
      border-radius: .4rem;
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .messages-display {
    height: 100%;
    overflow-y: scroll;

    .message {
      padding: .25rem 1.5rem;
      font-size: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 1.8rem;
        width: auto;
        margin-right: .5rem;
      }

      .message-content {
        align-items: center;

        .message-data {
          display: flex;
          flex-direction: row;
          align-items: baseline;

          .message-author {
            font-weight: bold;
            margin-right: .5rem;
          }

          .message-date {
            font-family: Lato-Regular;
            font-style: italic;
            font-size: .8rem
          }
        }

        .message-body {

        }
      }
    }

    .message:hover {
      background-color: rgb(245,245,245);
    }
  }
}
