/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, header, div, h1, h2, h3, form, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
  color: inherit;
  display: block;
}

div.left-nav {
  display: block;
  background-color: #4d394b;
  width: 300px;
  height: 100vh;
  float: left;
}

/*div .channel-index {
#ab9ba9
}*/

li.channel-index-item {
  color: #ab9ba9;
  display: block;
  float: left;
  width: 250px;
}
