<!DOCTYPE html>
<html>
<head>
  <title>HackChat</title>
  <link rel="stylesheet" href="app/assets/fonts/font-awesome-4.6.3/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>

  <script>

    var pusher = new Pusher('cf118fecc25f44026401', {
      encrypted: true
    });

  </script>

</head>
<body>

<%= yield %>

</body>
</html>
